/.vscode
/settings.json
/src/__pycache__
/src/classes/__pycache__
/src/entities/__pycache__
/src/objects/__pycache__
/src/scenes/game_screens/__pycache__
/src/scenes/ui_screens/__pycache__
/src/scripts/__pycache__
/src/utils/__pycache__
/src/worlds/__pycache__
